.buttonclick{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color:cadetblue;
    border: 0px;
    height: 20px;
    width: 40px;

    button{
        height: 10px;
        width: 10px;
        border: 0px;
        background-color: green;
    }
}